<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.umu.cs.pvt151"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<!-- android:label="@string/app_name" -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/actionbar_icon"
        android:name="se.umu.cs.pvt151.model.Genomizer"
        android:theme="@style/AppTheme" >
        <activity
            android:name="se.umu.cs.pvt151.login.LogInActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="se.umu.cs.pvt151.search.SearchActivity"
            android:label=""
            android:screenOrientation="portrait"            
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="se.umu.cs.pvt151.login.SettingsActivity"
            android:label=""
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="se.umu.cs.pvt151.search_result.ExperimentListActivity"
            android:label=""
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="se.umu.cs.pvt151.search_result.FileListActivity"
            android:label=""
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="se.umu.cs.pvt151.selected_files.SelectedFilesActivity"
             android:label=""          
            android:screenOrientation="portrait" >
        </activity>        
        <activity
            android:name="se.umu.cs.pvt151.search.SearchSettingsActivity"
            android:label=""
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="se.umu.cs.pvt151.processing.ConverterActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name="se.umu.cs.pvt151.search.SearchPubmedActivity"
             android:label=""
            android:screenOrientation="portrait">
        </activity>
        <activity
           android:name="se.umu.cs.pvt151.processing.ProcessActivity"
             android:label=""
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
